<!DOCTYPE html>
<html ng-app="myApp">
<body ng-controller="trainController" class="container" > <br/>

<div class="panel panel-default" ng-init="showTrains()">
	<div class="panel-heading">
	  <p class="panel-title"><span style="color:#5bc0de;" 
class="glyphicon glyphicon-edit"> </span> Edit Train</p>
	</div>
	<div class="panel-body">
		<form ng-submit="updateTrains()">
    <div class="form-group">
      <label for="name">Name: <span style= "color: brown;">{{ trains.name }}</span></label>
      <input type="text" class="form-control" id="name" ng-model="train.name" value="train.name" required>
    </div>
    <div class="form-group">
      <label for="dest">Destination: <span style= "color: brown;">{{ trains.dest }}</span></label>
      <input type="text" class="form-control" id="dept" ng-model="train.dest" value="train.dest" required>
    </div>
    <div class="form-group">
      <label for="origin">Origin:  <span style= "color: brown;">{{ trains.origin }}</span></label>
      <input type="text" class="form-control" id="origin" ng-model="train.origin" value="train.origin" required>
    </div>
    <div class="form-group">
      <label for="deptTime">Departure Time:  <span style= "color: brown;">{{ trains.deptTime }}</span></label>
      <input type="text" class="form-control" id="deptTime" ng-model="train.deptTime" value="train.deptTime" required>
    </div>
    <div class="form-group">
      <label for="arivTime">Arrival Time:  <span style= "color: brown;">{{ trains.arivTime }}</span></label>
      <input type="text" class="form-control" id="arivTime" ng-model="train.arivTime" value="train.arivTime" required>
    </div>  
    <div class="form-group">
      <label for="numOfSeats">Number of Seats : <span style= "color: brown;">{{ trains.numOfSeats }}</span></label>
      <input type="text" class="form-control" id="numOfSeats" ng-model="train.numOfSeats" value="train.numOfSeats" required>
    </div>  
    <div class="form-group">
      <label for="price">Cost :  <span style= "color: brown;">{{ trains.price }}</span></label>
      <input type="text" class="form-control" id="price" ng-model="train.price" value="train.price" required>
    </div>
    <button type="submit" style="color:#5bc0de;" class="btn btn-default">Update</button>
    <a href="#/trains" class="btn btn-default"> Cancel</a>
</form>		
</div>
</div>
</body>
</html>
